wrapt==1.10.0
regex==2018.01.10
msgpack==0.5.6
flair==0.4.2
numpy==1.17.0
pandas==0.25.0
pdftotext==2.1.4
scikit-learn==0.21.3
scipy==1.3.0
Scrapy==1.7.3
segtok==1.5.7
spacy==2.0.16
texar-pytorch==0.1.0
torch==1.2.0
selenium==3.141.0
editdistance==0.3.1
scholarly==0.2.5
